.weather_app {
    max-width: 600px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 5px 25px 25px 25px;
    font-family: monospace;
    border-radius: 15px;
}

#search-form {
    display: block;
    margin: 15px auto;
}

#city-input {
    width: 80%;
    border: 0;
    padding: 5px;
    background-color: #dcecfa;
    border-radius: 3px;
}

.search-button {
    padding: 5px;
    background-color: #dcecfa;
    border: 0;
    border-radius: 3px;
}

.weather {
    margin: 10px 0;
    position: relative;
    top: 5px;
    opacity: 0.8;
}

.icon-element {
    width: 70px;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 25px;
}

h1 {
    font-weight: 900;
    color: #272142;
    position: relative;
    left: 18px;
}

.degrees {
    font-size: 36px;
    position: relative;
    bottom: 17px;
    right: 15px;
}

.units {
    font-size: 16px;
    position: relative;
    bottom: 37px;
    right: 18px;
    text-decoration: none;
}

#celsius,
#farenheit {
    text-decoration: none;
}

.addinform {
    position: relative;
    bottom: 25px;
    left: 35px;
    opacity: 0.8;
}

.active {
    color: black;
    cursor: default;
}

.about {
    text-align: center;
    font-size: 10px;
    opacity: 0.7;
}

.link {
    text-decoration: none;
}